.publish {
  position: relative;
}

.publish {
  .tox-tinymce {
    border-radius: 2px;
  }
}

.ant-upload-list {
  .ant-upload-list-picture-card-container,
  .ant-upload-select {
    width: 146px;
    height: 146px;
  }
}
